.board {
    margin : 10px;
    padding : 20px;
    font-size : 150%;
    text-height : 200%;
    text-align : center;
}

.overlap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.login {
    padding : 10%;
    margin-top : 10%;
    background-color : #222222;
    color : #222222;
}

.logo-thumbnail {
    height: 20px;
    float: left;
}

.center {
    text-align : center;
}

.sidebar {
    margin : 0px;
    padding : 1%;
}