.board {
    margin : 10px;
    padding : 20px;
    font-size : 150%;
}

.overlap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.login {
    padding : 5%;
    margin-top : 10%;
    background-color : #222222;
    color : #222222;
}

.sign-up {
    padding : 5%;
    margin-top : 10%;
    background-color : #222222;
    color : #222222;
}

.logo-thumbnail {
    height: 20px;
    float: left;
}

.center {
    text-align : center;
}

.sidebar {
    margin : 0px;
    padding : 2%;
}

.text-md {
    font-size : 110%;
}
.text-lg {
    font-size : 150%;
}

.note {
    border : 0px;
    resize : none;
    border-radius : 0px;
    box-shadow : 0 0 0 0;
    margin-bottom : 0px;
    cols : 5;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 4px 0;
  font-size: 8px;
  border-radius: 10px;
}

.red-alert-sign {
color: #d9534f;
font-size: 150%;
}

.green-valid-sign {
color: #5cb85c;
font-size: 150%;
}

.home-background {
    margin-top : -20px;
    height : 100%;
    width : 100%;
}