.board {
    margin : 10px;
    padding : 20px;
    font-size : 150%;
}

.overlap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.login {
    padding : 10%;
    margin-top : 10%;
    background-color : #222222;
    color : #222222;
}

.logo-thumbnail {
    height: 20px;
    float: left;
}

.center {
    text-align : center;
}

.sidebar {
    margin : 0px;
    padding : 2%;
}

.red .active a,
.red .active a:hover {
    background-color: red !important;
}

.text-md {
    font-size : 110%;
}
.text-lg {
    font-size : 150%;
}