<div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">


            <a ng-click="showModal = !showModal" href>
                <div class="col-md-12 center">
                    <div class="panel panel-default">

                        <div class="panel-heading">+</div>
                    </div>
                </div>
            </a>

            <div ng-repeat="list in lists" ng-controller="NoteController" class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{{list.name}}<a href ng-click="delete(list)"
                                                               class="pull-right btn btn-danger btn-circle">X</a>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control input-lg note" rows="{{rowCount}}"
                                          ng-keyup="update($index)" ng-focus="update($index)" ng-blur="save(list)"
                                          id="list{{$index}}_text" ng-model="list.note"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 sidebar img-rounded text-{{board.class && board.class != 'primary' ? board.class : 'default'}} label-{{board.class ? board.class : 'primary'}}">
            <div class="row">
                <div class="col-lg-12 center overlap text-lg" title="{{board.name}}"><b>{{board.name}}</b></div>

                <div class="col-lg-12">
                    <hr class="divider"/>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 overlap"><b>Owners:</b></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 overlap">
                    {{board.owners.toString()}}
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 overlap"><b>Members:</b></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 overlap">
                    {{board.members.toString()}}
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 overlap"><b>Created On:</b></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 overlap">
                    {{board.createdOn |
                    date : 'dd MMM yyyy, h:mm a'}}
                </div>
            </div>
        </div>
    </div>

    <modal title="Create New List" visible="showModal">
        <div>
            <form role="form" name="createListForm" novalidate method="post">
                <div class="form-group">
                    <label class="sr-only">List Name</label>
                    <input type="text" class="form-control input-lg" placeholder="Type In List Name"
                           ng-model="newList.name" required/>
                </div>

                <div class="form-group">
                    <input type="submit" class="form-control btn btn-primary input-lg" ng-click="createList()"
                           value="Create"/>
                </div>
                <div ng-show="error" class="label-danger input-lg">
                    {{error}}
                </div>
            </form>
        </div>
    </modal>

</div>