<div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
            <a ng-repeat="list in board.lists">
                <div class="board overlap col-md-2" title="{{list.name}}">
                    {{list.name}}
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 sidebar img-rounded text-{{board.class && board.class != 'primary' ? board.class : 'default'}} label-{{board.class ? board.class : 'primary'}}">
            <div class="row">
                <div class="col-lg-12 center overlap text-lg" title="{{board.name}}"><b>{{board.name}}</b></div>

                <div class="col-lg-12">
                    <hr class="divider"/>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 overlap"><b>Owners:</b></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 overlap">{{board.owners.toString()}}</div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 overlap"><b>Members:</b></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 overlap">{{board.members.toString()}}</div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 overlap"><b>Created On:</b></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 overlap">{{board.createdOn |
                    date : 'dd MMM yyyy, h:mm a'}}
                </div>
            </div>
        </div>

    </div>
</div>