<nav class="navbar navbar-inverse" ng-controller="NavigationController as navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class=" navbar-brand" id="brandName" href="#/">
                <img ng-src="{{navigation.brand.logo}}" class="logo-thumbnail" id="brandLogo"/>
                &nbsp;{{navigation.brand.name}}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar" data-toggle="collapse" data-target="#navbar">
            <ul ng-repeat="menu in navigation.leftMenus" class="nav navbar-nav">
                <li ng-show="navigation.isVisible({{menu}})" ng-class="{active : navigation.isActive('{{menu.path}}')}">
                    <a href="#/{{menu.path}}"><span ng-show="menu.class" class="glyphicon {{menu.class}}"> </span>
                        {{menu.name}}</a></li>
            </ul>
            <ul ng-repeat="menu in navigation.rightMenus" class="nav navbar-nav navbar-right">
                <li ng-show="navigation.isVisible({{menu}})" ng-class="{active : navigation.isActive('{{menu.path}}')}">
                    <a href="#/{{menu.path}}"><span ng-show="menu.class" class="glyphicon {{menu.class}}"> </span>
                        {{menu.name}}</a></li>
            </ul>
            <ul ng-show="navigation.isLoggedIn()" class="nav navbar-nav navbar-right">
                <li class="active primary">
                    <a>
                        <img ng-src="{{navigation.getProfile().thumbnail}}" class="logo-thumbnail img-circle" id="profile"/>
                        &nbsp;{{navigation.getProfile().name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>